# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# logs
*.log

# Directories
.terraform/
.vagrant/
venv/

# SSH Keys
*.pem

# Backup files
*.bak

# temp.sh
temp.sh

# Ignored Terraform files
*gitignore*.tf

# Key files - X.509 certificates
*.key
*.crt
